### Intellij ###
.idea/
*.iws
*.iml
/out/
.idea_modules/
atlassian-ide-plugin.xml

### MacOS
.DS_Store

# Code Recommenders
.recommenders/


### VisualStudioCode ###
.vscode
.vs/

### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
_testmain.go

*.exe
*.test
*.prof

# dep package manager
vendor/

# Generated assets
app/
client/
swagger/
tool/cli/
public/
